[submodule "apps/menestrel"]
	path = apps/menestrel
	url = http://github.com/karacos/menestrel.git
[submodule "apps/store"]
	path = apps/store
	url = http://github.com/karacos/store.git
[submodule "resources/static/js/VIE"]
	path = resources/static/js/VIE
	url = http://github.com/karacos/VIE.git
[submodule "resources/static/js/jquery-treeview"]
	path = resources/static/js/jquery-treeview
	url = http://github.com/karacos/jquery-treeview.git
[submodule "resources/static/karacos-ui"]
	path = resources/static/karacos-ui
	url = http://github.com/karacos/KaraCos-js-UI.git
[submodule "resources/static/aloha-nka-fork"]
	path = resources/static/aloha-nka-fork
	url = https://github.com/karacos/Aloha-Editor
