.karacos_file_image .x-tree-node-icon{
	background-image:url(images/image.png);
}

.karacos_file_sound .x-tree-node-icon{
	background-image:url(images/music.png);
}

.karacos_file_domain .x-tree-node-icon{
	background-image:url(images/server.png);
}
.karacos_explorer_Resource .x-tree-node-icon{
	background-image:url(images/type_Resource.png);
}

.karacos_explorer_Manager .x-tree-node-icon{
	background-image:url(images/type_Manager.png);
}

.karacos_explorer_AuthManager .x-tree-node-icon{
	background-image:url(images/type_AuthManager.png);
}

.karacos_explorer_WebNode .x-tree-node-icon{
	background-image:url(images/type_WebNode.png);
}

.karacos_explorer_Artist .x-tree-node-icon{
	background-image:url(images/page_user.gif);
}
.karacos_explorer_Artists .x-tree-node-icon{
	background-image:url(images/list_users.gif);
}
.karacos_explorer_ArtistProject .x-tree-node-icon{
	background-image:url(images/page_component.gif);
}
.karacos_explorer_AudioTrack .x-tree-node-icon{
	background-image:url(images/type_Audiotrack.png);
}
.karacos_explorer_Store .x-tree-node-icon{
	background-image:url(images/list_packages.gif);
}
.karacos_explorer_Entry .x-tree-node-icon{
	background-image:url(images/type_Entry.png);
}
.karacos_explorer_Newsletter .x-tree-node-icon{
	background-image:url(images/type_Newsletter.png);
}
.karacos_explorer_InvestItem .x-tree-node-icon{
	background-image:url(images/type_InvestItem.png);
}
.karacos-explorer-thumb {
	width: 64px;
	height: 64px;
	vertical-align: middle;
	margin-left:28px;
	}
.karacos-explorer-thumb-wrap {
	display:block;
	float:left;
	width: 120px;
	height: 77px;
	text-align: center;
	}
.karacos_action_set_ACL {
	background-image:url(images/shield.png);
	}
.karacos_action_create_resource {
	background-image:url(images/add.png);
	}
.karacos_action_create_child_node {
	background-image:url(images/add.png);
	}
.karacos_action_add_attachment {
	background-image:url(images/page_add.png);
	}
.karacos_action_delete {
	background-image:url(images/cross.png);
	}
.karacos_action_edit_content {
	background-image:url(images/pencil.png);
	}



/* Uploader settings */
.x-grid3-td-progress-cell {
    padding: 0;
}

.x-grid3-td-progress-cell .x-grid3-cell-inner {
    padding: 0;
    position: relative;
    height: 21px;
}

.x-grid3-cell-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.x-grid3-cell-background {
    background: #E0E8F3; /*url(../../resources/images/default/qtip/bg.gif) repeat-x scroll 0 -1px;*/
    white-space: nowrap;
}
.x-grid3-td-progress-cell .low {
    background: #11aa11;
}
.x-grid3-td-progress-cell .medium {
    background: #f1fa1a;
}
.x-grid3-td-progress-cell .high {
    background: #ee1111;
}

.ux-progress-cell-foreground {
    color: #000;
    background-color: #9CBFEE;
    white-space: nowrap;
    overflow: hidden
}

.ux-progress-cell-inner-right {
    text-align: right;
}

.ux-progress-cell-inner-center {
    text-align: center;
}

.ux-progress-cell .ux-progress-cell-inner div {
    padding: 3px 0 0 4px;
}

.ux-progress-cell-inner-right div {
    padding: 3px 4px 0 0;
    position: relative;
}

.ux-progress-cell-inner-center div {
    padding: 3px 0 0 0;
    position: relative;
}

.ux-progress-cell-inner-left div {
    padding: 3px 0 0 4px;
    position: relative;
}
